@font-face {
    font-family: metropolis_medium;
    src: url(../Fonts/Metropolis/Metropolis-Medium.otf)
  }
@font-face {
    font-family: metropolis_regular;
    src: url(../Fonts/Metropolis/Metropolis-Regular.otf)
  }  

  @font-face {
    font-family: metropolis_bold;
    src: url(../Fonts/Metropolis/Metropolis-Bold.otf)
  }  
  @font-face {
    font-family: inter_regular;
    src: url(../Fonts/Inter/Inter-Regular.ttf)
  }  

*{
    padding:0;
    border:0;
}
body{
    font-size: 14px!important;
    width:100%;
    background-color: #ffffff;
    color:black;
    font-family: metropolis_regular;
}
p{
    font-family: inter_regular!important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
    text-align: center;
    box-sizing: border-box;
    margin: 0 0 10px;
    letter-spacing: 0.3px!important;
    line-height: 1.6em!important;
    font-size: 18px!important;
    color: #222;
}
h1{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
box-sizing: border-box;
margin: .67em 0;
font-weight: 500;
margin-top: 20px;
margin-bottom: 10px;
font-family: metropolis_bold,sans-serif;
color: #20123A;
font-size: 44px;
letter-spacing: .5px;
line-height: 1.3em;
}

h4{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
box-sizing: border-box;
margin-bottom: 10px;
font-size: 18px;
font-family: metropolis_medium,sans-serif;
color: #20123A;
letter-spacing: .5px;
line-height: 1.5em;
font-weight: 700;
padding-left: 15px;
margin-top: 20px;
padding-top: 25px;
border-top: 1px solid #ddd;
}
.penji_work{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
display: block;
padding: 120px 0 65px;
background-color: #f4f5f7;
}
.header_step_by_top{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
display: block;
box-shadow: 1px 3px 6px 0 rgba(0,0,0,.1);
padding: 17px 0;
background-color: #fff;
width: 100%;
z-index: 999;
top: 50px;
position: static;
}
.content_header_step{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
justify-content: center;
display: block;
}
.header_step_by_top .content_header_step ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin: auto;
}
.header_step_by_top .content_header_step ul li{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
box-sizing: border-box;
font-family: "Inter-Regular"!important;
letter-spacing: 0.3px!important;
line-height: 1.6em!important;
font-size: 18px!important;
color: #222;
list-style-type: none;
float: left;
text-align: center;
padding: 5px 6px;
width: auto;
}
.header_step_by_top .content_header_step ul li a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
    letter-spacing: 0.3px!important;
    line-height: 1.6em!important;
    list-style-type: none;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    font-family: metropolis_medium;
    cursor: pointer;
    color: #aaa;
    transition-duration: 0s;
    padding: 10px 10px;
    font-size: 16px;
}
.header_step_by_top .content_header_step ul li a.active{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
letter-spacing: 0.3px!important;
line-height: 1.6em!important;
list-style-type: none;
text-align: center;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
font-family: metropolis_medium;
cursor: pointer;
transition-duration: 0s;
padding: 10px 10px 15px;
font-size: 16px;
color: #8838db;
border-bottom: 2px solid #8838db;
}
.step_by_step{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
display: block;
padding: 100px 0 80px;
padding-bottom: 0;
}
.left_step_1{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
position: relative;
}
.left_step_1 img{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
width: 100%;
}
.step_by_step p{
    text-align: left;
}
.title_step{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
position: relative;
}
.title_step h2{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
box-sizing: border-box;
font-weight: 500;
font-family: metropolis_bold,sans-serif;
font-size: 36px;
letter-spacing: .5px;
margin-bottom: 15px;
line-height: 1.3em;
color: #8838db;
margin-top: 13px;
}
.title_step img{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
border: 0;
vertical-align: middle;
max-width: 100%;
height: auto;
position: absolute;
width: 36px;
right: 50px;
top: -34px;
display: none;
}
.title_step p{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
box-sizing: border-box;
margin: 0 0 10px;
font-family:inter_regular!important;
letter-spacing: 0.3px!important;
line-height: 1.6em!important;
font-size: 18px!important;
color: #222;
}
ul li {
    list-style-type: none;
}
ul.ul_step_by_step{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
padding: 0;
margin: 20px 0 0 0;
}
ul.ul_step_by_step li{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
box-sizing: border-box;
font-family: inter_regular!important;
letter-spacing: 0.3px!important;
line-height: 1.6em!important;
font-size: 18px!important;
color: #222;
list-style-type: none;
padding: 3px 0;
}
.fa-check{
    color: #8838db;
}
.bs-example{
    display: none;
}
.step_by_step .row{
margin:0px 0px 80px;
}